<div class="card">
  <div>
    {{#each this}}
      <section>
        <div class="card-body">
          {{user.username}}
          on
          {{format_date created_at}}
        </div>
        <div>
          {{comment_text}}
        </div>
      </section>
    {{/each}}
  </div>
</div>