{{> post-info post}}

<div class="card">
  <div class="card-header"> {{title}}</div>
  <div class="card-body">{{post_text}}  | {{user_id}}</div>
</div>

{{#if loggedIn}}
<div class="card">
  <div class="card-body">
      <form class="comment-form">
        <div class="form-input">
          <textarea name="comment-body"></textarea>
        </div>

        <div>
          <button class="btn" type="submit">add comment</button>
        </div>
      </form>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}

